*{
    margin:0em
}
body{background-color: rgb(252, 199, 185);}
.contenedor{

    text-align: center;
    height:100em;
    width:100em

}

p{
    font-size: 3em;
    color: white;
    ;
}

button{
    font-size: 2em;
    color:white;
    padding:1.75em
}
#yes{transform: translate(-100%,0)}

#nop{position: absolute;}
i{font-size: 7em;color:tomato}

#milcono{display:none;}

#milcono.mostrar{display:block;}


